html {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

/* Header Section */
.title-section {
    font-family: 'Comfortaa', cursive;
    font-size: 1.8rem;
    text-align: center;
}

.top-nav-section {
    margin: auto 10%;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    font-family: 'Jost', sans-serif;
}

.title-text {
    margin: 1rem auto 0;
    text-align: center;
    font-size: 2rem;
}

/* Our Mission Section */
.mission-section {
    display: flex;
    flex-direction: column;
    height: 45rem;
    background-image: url("./images/mission-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}

.mission-text-block {
    background: aliceblue;
}

.mission-text-block p {
    margin: 1rem 15% 2rem;
    line-height: 1.8rem;
    text-align: center;
    font-size: 1.2rem;
}


/* Products Section */

.services-section {
    margin: 3rem auto;
}

.services-section p {
    margin: 0.3rem 15% 1rem;
    line-height: 1.8rem;
    text-align: center;
    font-size: 1.2rem;
    justify-content: center;
}

.service-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 90%;
    margin: 0 auto;
}

.service-item {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 1rem 2rem;
    align-items: center;
    min-width: 20rem;
    max-width: 30%;
}

.service-item img {
    max-width: 100%;
    height: auto;
    border-radius: 3%;
}

.service-item p {
    width: 20rem;
    margin: 0.5rem 0;
}


/* Our Team Section */
.team-section {
    height: auto;
}

.team-items {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;
    align-items: flex-start;*/
    margin: 1rem auto;
    padding: 2rem 0;
    background-image: url("./images/team-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.team-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 20rem;
    max-width: 20%;
    margin: 0.5rem 1.5rem 2rem;
}

.team-item img {
    max-width: 80%;
    border-radius: 5%;
    border-radius: 20%;
    height: auto;
}

.team-item h4 {
    font-size: 1.5rem;
    color: aliceblue;
    margin: 0.3rem auto;
    background-color: #072034;
    border-radius: 15%;
    padding: 1% 3%;
}

.team-item p {
    color: aliceblue;
    margin: 0 auto;
    background-color: #072034;
    border-radius: 10%;
    padding: 1% 3%;
}


/* Footer Section */
.footer {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    text-align: center;
    height: 20rem;
    justify-content: center;
}

.footer h2, .logo {
    font-family: 'Comfortaa', cursive;
    font-size: 1.8rem;
}

#notes p {
    text-align: center;
}